<!DOCTYPE html>
<html>
  <head>
    <center><h1>Resources</h1></center>
  </head>
  <body>
    <h3><center>These resources are here should you need them.</center></h3>
    <p><b>Counseling, Health, and Wellness Services (CHWS)</b></p>
    <p>pugetsound.edu/chws
    <br>253.879.1555</p>
    <br>
    <p><b>University Chaplain</b></p>
    <p>Dave Wright '96
    <br>253.879.2751</p>
    <br>
    <p><b>Dean of Students Office</b></p>
    <p>dos@pugetsound.edu
    <br>253.879.3360</p>
  </body>
</html>
