<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<!-- Topics randomizer -->
<div ng-app="topics" ng-controller="heading as prompt">
  <h2>Talk about:</h2>
  <h4>
    {{prompt.info.topic}}:
  </h4>
  <p>
    {{prompt.info.text}}
  </p>
  <button ng-click="prompt.randomize()">New Prompt</button>
</div>

<script>

  var app = angular.module("topics", []);

  app.controller("heading", function(){
    this.info = {
      topic: "Whatever!",
      subtopic: "",
      text: "",
      previousPrompts: []
    };

    //randomizes current prompt
    this.randomize = function(){
      $newTopic = "";
      $newText = "";
      $newSub = "";

      if (this.info.topic === "Whatever!") {
        $newTopic = this.chooseTopic();
      }
      else {
        $newTopic = this.info.topic;
      }
      $newSub = this.chooseSubtopic($newTopic);
      $newText = this.getPrompt();

      $newInfo = {
        topic: $newTopic,
        subtopic: $newSub,
        text: $newText,
        previousPrompts: this.info.previousPrompts.push(this.info.text);
      };
    };

    //chooses a topic from mutual interests
    this.chooseTopic = function(){
      //TODO: Make work
      return "Whatever!";
    };

    //chooses a random subtopic from current topic
    this.chooseSubtopic = function($topic){
      //TODO: Make work
      if ($topic === "Whatever!") {
        return "";
      }

      //if topic has no subtopics

      //otherwise pic subtopic

      return "";
    };

    //gets new random text for prompt
    this.getPrompt = function($topic, $subtopic){
      $prompts = this.getPrompts($topic, $subtopic);

      if ($prompts.length == 0) {
        $prompt = "No prompts found.";
      }
      else{
        $prompt = prompts[Math.floor(Math.random()*prompts.length)];
      }

      //redo if choose invalid
      if (this.info.previousPrompts.includes($prompt)) {
        // return this.getPrompt($topic, $subtopic);
      }

      return $prompt;
    };

    //pulls list of prompts from database given topic and subtopic
    this.getPrompts = function(){
      //TODO: make work
      return ["Sample text."];
    };

  });
</script>

</body>
</html>
