<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<!-- Topics randomizer -->
<div ng-app="topics" ng-controller="heading">
  <p>
    Display test:
    <button ng-hide="prompt.viewable" ng-click="showPrompt()">Show prompt</button>
    <button ng-show="prompt.viewable" ng-click="changePrompt()">Change prompt</button>

    <span ng-show="prompt.viewable">
      {{prompt.message}}
    </span>
  </p>
</div>

<script>
  var app = angular.module("topics", []);

  app.controller("heading", function($scope){
    $scope.prompt = {
      message: "Just talk!",
      viewable: false
    };

    $scope.showPrompt = function(){
      $scope.prompt.viewable = true;
    };

    $scope.changePrompt = function(){
      //TODO: change prompt
      $scope.prompt.message = "New Message.";
    };
  });
</script>

</body>
</html>
