<!DOCTYPE html>
<head>
  <h1><center>Di(AI)logue</center></h1>
  <h2><center>Consent Form</center></h2>
</head>
<body>
  <form action="../php/consent.view.php" method="post">
  <h4>I. Purpose</h4>
  <p>The purpose of this research is to assemble a large data set of conversations between
    human beings that will be made publicly accessible to researchers in the field of artificial
    intelligence. This data set will help researchers create computers that can converse with
    humans using a human language (e.g. English). You have been asked to participate
    because you are a human being capable of having a conversation, and you have a Puget
    Sound email address.</p>
    <input type="checkbox" name="SECTION_1" value="accept" required/> I read and understood this section<br>
  <h4>II. Participation in the Study</h4>
  <p><b>Your Interests</b></p>
  <p>After this consent page, you will be asked about your general interests (e.g. tv shows,
    sports). We will only use this information to pair you with another participant that has
    similar interests.</p>
  <p><b>Having a conversation:</b></p>
  <p>You can participate in as many conversations as you wish up to $25 (see “Payment”
    section). When you log into the system, you can choose to participate in a conversation
    by pressing the “Talk” button. When you press this button, you will be paired with
    another participant (who may share some of your same interests). </P>
  <p> Both of you will have a conversation for a <b><i>minimum of 8 minutes</i></b>. There may be a
    prompt to guide the conversation. You are free to ignore this prompt. After 8 minutes,
    you are free to continue talking for as long as you both wish. At the end of the
    conversation, simply hit the “Done” button. </p>
  <p>After a conversation, you will be asked to agree or disagree with two statements:</p>
  <p><center>“For the most part, we stayed on topic.”</center></p>
  <p><center>“It is okay to include this conversation in the data set”</center></p>
  <p>The first statement will help us organize the conversations by topic. For the second
    statement, you are free to indicate that you do not want this conversation included in the
    final data set. If you answer “no”, the conversation will be permanently deleted. <b><i>You will
      still be paid for the conversation even if you answer “no”. </b></i></p>
  <p>If both participants answer “yes” to this question, then the conversation will be stored for
    inclusion in the final data set. Your email address will not be associated with the
    conversation in any way. In the end, the conversations will be completely anonymized
    (see “Confidentiality of Data”).</p>
  <p><b>Guidelines</b></p>
  <p>Please follow these guidelines when having a conversation:</p>
  <ol>
    <li>
      <b><i>Do not share personally identifying information</b></i> – e.g., your name, names of family
      members, phone number, dorm name or room number, house address, credit card number,
      social security number, etc.
    </li>
    <li>
      <b><i>Do not discuss anything that you would feel uncomfortable sharing with the general
      public</b></i>. Although we will do our best to anonymize all conversations (see
      “Confidentiality of Data”), keep in mind that this data will be publicly available and that
      researchers may be obligated to report any criminal activity you choose to disclose (see
      “Risks”).
    </li>
    <li>
      <b><i>Please type in complete sentences instead of breaking your sentence into many small
        pieces</b></i>. For example, <enter><center>“This was the best movie they’ve made so far.” {enter}</center>
        <enter>is better than typing,
        <enter><center>“This was the best” {enter} </center>
        <enter><center>“so far” {enter} </center>
        <enter>Our goal is to collect traditional conversational data as opposed to the short style that is
          typical of instant messaging conversations.
    </li>
  </ol>
  <p><b>Payment for Participating</b></p>
  <p> Participants will be paid .25 cents per conversation. You may participate in as many
    conversations as you w ish up to $25. Participants who earn $5.00 or more will be paid
    with an Amazon gift card emailed to your Puget Sound email address. Participants who
    earn under $5.00 will be paid through the University of Puget Sound.</p>
  <p>The only condition affecting payment is repeatedly participating in a conversation and
      then answering “no” to the statement, “It is okay to include this conversation in the data
      set”. After answering “no” 3 times, you will be blocked from further participation. You
      will still be paid for all conversations you participated in up to that time.
  </p>
  <input type="checkbox" name="SECTION_2" value="accept" required/> I read and understood this section<br>
  <h4><u>III. Confidentiality of Data</u></h4>
  <p>Your email address and account information will be stored on secure remote Amazon
    servers using up-to-date encryption and security measures.</p>
  <p>In the final data set, the only information that will be stored for each conversation is (1)
    the text of the conversation itself (2) the duration of the conversation and (3) whether or
    not the conversation stayed on topic. No personally identifying information will be stored
    with the conversations. In particular, your email address and account information will not
    be stored with the conversations.</p>
  <p>The text of each conversation will also be anonymized using the following procedures:</p>
  <ol>
    <li>We will use a computer program to scan through each conversation looking for
      personal information (e.g., names, dates, addresses). Any personal information found will
      be removed and replaced with a placeholder (e.g. NAME, DATE, ADDRESS)</li>
    <li>The research investigators will then select and inspect 100 randomly chosen
      conversations. If the investigators find additional categories of personal information that
      were missed by the computer program, they will update the computer program and re-run
      it. This process will be repeated until no new categories of personal information are
      found.</li>
    <li>After this process, each anonymized conversation will be read by one investigator. The
      investigator will ensure that no personally identifying or sensitive information remains in
      the final conversation.</li>
  </ol>
  <p>The final data set of conversations will be submitted to the University of California,
    Irvine’s Machine Learning Repository of data sets. After submission, all information
    collected from this study will be permanently deleted.</p>
    <input type="checkbox" name="SECTION_3" value="accept" required/> I read and understood this section<br>
  <h4>IV. Risks and Benefits</h4>
  <p><b>Risks:</b></p>
  <p>Despite all our efforts, the following risks are possible (1) sensitive or identifying
    information may end up in the final data set or (2) a subject’s email address may be
    obtained by unauthorized persons (i.e. hackers). </p>
  <p>If sensitive or identifying information ends up in the final data set, then a conversation
    may be traced back to the 2 participants. In this case, the following risks occur:
    embarrassment that could lead to isolation, depression, relationship troubles, and suicidal
    thoughts; the release of contact information resulting in harassment; the release of
    information about a crime committed which may be used as evidence or by those seeking
    revenge; the text of the conversation may be distributed or posted. In general, the risks
    include any response a person may experience when personal information about them is
    leaked to the general public. </p>
  <p>If unauthorized persons break into the remote server, then your Puget Sound email
    address may be obtained. In this case, the following risks occur: spam being sent to your
    email address, your email address being used to sign up for unauthorized accounts, your
    email address being sold to marketing firms. In general, the risks include any action that
    can be taken with someone else’s email address.</p>
  <p>It is also worth noting that during the process of anonymization, the researchers may read
    possibly incriminating information that you disclosed. For example, if you state your
    name during a conversation and then admit to committing a crime, the researchers may in
    the course of anonymization read this information. In such cases, researchers may be
    obligated to report this information to the appropriate authorities.</p>
  <p>Even if none of these extreme situations happen, you may still feel sad or depressed after
    a particular conversation. In this case, we have provided contact information for helpful
    on-campus resources (e.g. CHWS) on the “About” page.</p>
  <p><b>Benefits:</b></p>
  <p>Systems that are created to converse with humans are called dialogue systems. Within the
    past 3 years, the field of dialogue systems has seen promising advancements using an
    algorithm known as a neural network. In order to train a neural network, a large data set
    of conversations between humans is needed. Currently, no data set of natural, written
    conversations between humans that covers a wide range of topics exists. This project
    seeks to fill this gap, allowing researchers in artificial intelligence to create the next
    generation of dialogue systems. The final data set of conversations will be submitted to
    the University of California, Irvine’s Machine Learning Repository of data sets.</p>
  <p>Ultimately, the goal is to use this data to create a computer system that can communicate
    via English in a manner indistinguishable from a human: with a consistent personality,
    able to selectively elaborate and initiate conversation, and able to understand the
    subtleties of human language.</p>
  <p>Possible future applications of such systems include providing healthcare support (e.g. a
    companion for elderly patients that promotes good health choices), educational tutoring
    systems, the ability to hold unconstrained conversations with non-player characters in
    videogames, virtual guides (e.g. for museums), or more realistic automated personal
    assistants (similar to J.A.R.V.I.S. the artificially intelligent personal assistant in Iron
    Man).</p>
    <input type="checkbox" name="SECTION_4" value="accept" required/> I read and understood this section<br>
  <h4>V. Contact Information</h4>
  <p><b>Investigators</b></p>
  <p>Liana Bardallis<br>lbardallis@pugetsound.edu</p>
  <p>Hunter Kurtis<br>hkurtis@pugetsound.edu</p>
  <p>Celia Rizzo<br>crizzo@pugetsound.edu</p>
  <p>Elizabeth Zweizig<br>ezweizig@pugetsound.edu</p>
  <p>America Chambers<br>Assistant Professor<br>Mathematics and Computer Science<br>(253) 879-3558<br>alchambers@pugetsound.edu</p>

<p>********************************************************************************************</p>
<p><b>Understanding and Consent</b></p>
<p>I understand that my email address and account information will be stored securely on
remote Amazon servers.</p>
<p>I understand that my participation in any conversation will be kept anonymous: my email
address and account information will <b><i>not</b></i> be associated with the conversation in any way.</p>
<p>I understand that I should not discuss anything I would feel uncomfortable sharing with
the general public. </p>
<p>I understand that after a conversation, I can indicate I do <b><i>not</b></i> want the conversation
included in the data set and this decision will not affect my payment for that conversation.
I understand that after participating in a conversation and then indicating I do <b><i>not</b></i> want
the conversation in the data set three times, I will be paid and then blocked from further
participation.</p>
<p>I understand that every conversation will undergo an anonymization process and will be
manually checked by one of the researchers to identify any remaining sensitive
information.</p>
<p>I do understand that my account information, just like hospital records, may be
subpoenaed by court order. It has been explained to me that my identity will not be
revealed in any description or publication of this research. Therefore, I consent to such
publication for scientific purposes.</p>
<p>I understand that I am free to refuse to participate in this study or to end my participation
at any time and that my decision will not adversely affect the payment to which I am
entitled. </p>
<p>I certify that I have read the preceding or it has been read to me and that I understand its
contents. Any questions I have pertaining to the research have been and will be answered
by Principal Investigator (Hunter Kurtis, hkurtis@pugetsound.edu, 253-879-3558) or the
Office of the Associate Deans (253-879-3207). A copy of this consent form will always
be accessible from the “About” page. My initials below mean that I have freely agreed to
participate in this experimental study.</p>
Date:<br>
<input type="text" name="DATE"/><br>
Type Initials:<br>
<input type="text" name="TYPE_INITIALS" required/><br><br>
<input type="submit"/>
  </form>
</body>
</html>
