<!DOCTYPE html>
<head>
  <h1><center>Interests</center></h1>
<p>Please select topics that you would be willing to have a conversation about.</p>
</head>
<body>
  <form action="/action_page.php" method="get" >

    <input type="checkbox" name="SECTION_1" value="accept"> Politics<br>
    <input type="checkbox" name="SECTION_2" value="accept"> Books<br>
    <input type="checkbox" name="SECTION_3" value="accept"> Movies<br>
    <input type="checkbox" name="SECTION_4" value="accept"> TV<br>
    <input type="checkbox" name="SECTION_5" value="accept"> Anime/Manga<br>
    <input type="checkbox" name="SECTION_6" value="accept"> Comics<br>
    <input type="checkbox" name="SECTION_7" value="accept"> Food<br>
    <input type="checkbox" name="SECTION_8" value="accept"> Video Games<br>
    <input type="checkbox" name="SECTION_9" value="accept"> Games<br>
    <input type="checkbox" name="SECTION_10" value="accept"> Music<br>
    <input type="checkbox" name="SECTION_11" value="accept"> Travel<br>
    <input type="checkbox" name="SECTION_12" value="accept"> Sports<br>
    <input type="checkbox" name="SECTION_13" value="accept"> Science and Technology<br>
    <input type="checkbox" name="SECTION_14" value="accept"> Fashion<br>
    <input type="checkbox" name="SECTION_15" value="accept"> Hobbies<br>
    <input type="checkbox" name="SECTION_16" value="accept"> Art<br>
    <input type="checkbox" name="SECTION_17" value="accept"> Current Events<br>
    <input type="checkbox" name="SECTION_18" value="accept"> Philosophical Questions<br>
    <input type="checkbox" name="SECTION_19" value="accept"> Animals/Pets<br>
    <input type="checkbox" name="SECTION_20" value="accept"> Comedy<br>
    <input type="checkbox" name="SECTION_21" value="accept"> History<br>
    <input type="checkbox" name="SECTION_22" value="accept"> Weather<br>


      <input type="submit" value="Submit">
      </form>
</body>
</html>
