<!DOCTYPE html>
<head>
  <h1><center>Interests</center></h1>
<p>Please select topics that you would be willing to have a conversation about.</p>
</head>
<body>
  <form action="/action_page.php" method="get" >

    <input type="checkbox" name="Politics" value="accept"> Politics<br>
    <input type="checkbox" name="Books" value="accept"> Books<br>
    <input type="checkbox" name="Movies" value="accept"> Movies<br>
    <input type="checkbox" name="TV" value="accept"> TV<br>
    <input type="checkbox" name="AnimeManga" value="accept"> Anime/Manga<br>
    <input type="checkbox" name="Comics" value="accept"> Comics<br>
    <input type="checkbox" name="Food" value="accept"> Food<br>
    <input type="checkbox" name="VideoGames" value="accept"> Video Games<br>
    <input type="checkbox" name="Games" value="accept"> Games<br>
    <input type="checkbox" name="Music" value="accept"> Music<br>
    <input type="checkbox" name="Travel" value="accept"> Travel<br>
    <input type="checkbox" name="Sports" value="accept"> Sports<br>
    <input type="checkbox" name="ScienceTechnology" value="accept"> Science and Technology<br>
    <input type="checkbox" name="Fashion" value="accept"> Fashion<br>
    <input type="checkbox" name="Hobbies" value="accept"> Hobbies<br>
    <input type="checkbox" name="Art" value="accept"> Art<br>
    <input type="checkbox" name="CurrentEvents" value="accept"> Current Events<br>
    <input type="checkbox" name="Philosophy" value="accept"> Philosophical Questions<br>
    <input type="checkbox" name="Animals" value="accept"> Animals/Pets<br>
    <input type="checkbox" name="Comedy" value="accept"> Comedy<br>
    <input type="checkbox" name="History" value="accept"> History<br>
    <input type="checkbox" name="Weather" value="accept"> Weather<br>


      <input type="submit" value="Submit">
      </form>
</body>
</html>
